<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="https://unsplash.it/1600/900/?random" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Sample Card Title 1</h4>
        <p class="card-text">He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...</p>
        <a href="#" class="btn btn-primary">Tell me more &rarr;</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="https://unsplash.it/1600/899/?random" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Sample Card Title 2</h4>
        <p class="card-text">He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...</p>
        <a href="#" class="btn btn-primary">Tell me more &rarr;</a>
      </div>
    </div>
  </div>
</div>
